/* 
Seletores CSS 

  Seletores         No HTML                              No CSS
- por tag ou tipo  <tag></tag>                           h1 { }
- por ID           id="nome-do-id"                       #nomeDoID
- por Classe       class="nome-da-class"                 .nomeDaClass
- universal        <tag></tag>                           * { }
- por atributo     atributo="valor"                      [atributo] { }
                   atributo="valor parte"                [atributo~="parte"] { }
                   atributo="valor-exato"                [atributo|="parte"] { }
                   atributo="valor-prefixo"              [atributo^="valor"] { }
                   atributo="valor-sufixo"               [atributo$="fixo"] { }
                   atributo="valor-qualquer-ocorrencia"  [atributo$="qualq"] { }


Combinador CSS

  Combinador       Formato
- descendente      [seletor] [seletor]
- filho            [seletor]>[seletor]
- irmão adjacente  [seletor]+[seletor]
- irmão em geral   [seletor]~[seletor]
*/

h2 {
   background: blue;
   color: white;
}
/* ##### ##### ##### ##### ##### ##### */
.object-fit {
   width: 200px;
   height: 300px;
   margin-bottom: 30px;
   border: 5px solid orange;
}
.object-fit>img {
   width: 100%;
   height: 100%;
}

#object-fit-fill {
   object-fit: fill; /* padrão */
}

#object-fit-contain {
   object-fit: contain;
}

#object-fit-cover {
   object-fit: cover;
}

#object-fit-none {
   object-fit: none;
}

#object-fit-scale-down {
   object-fit: scale-down;
}

/* ##### ##### ##### ##### ##### ##### */
.object-position {
   width: 200px;
   height: 300px;
   margin-bottom: 30px;
   border: 5px solid orange;
}
.object-position>img {
   width: 100%;
   height: 100%;
}

#object-position-contain {
   object-fit: contain;
   object-position: center top;
}

#object-position-cover {
   object-fit: cover;
   object-position: right center;
}

/* ##### ##### ##### ##### ##### ##### */
.fundo-elementos {
   width: 200px;
   height: 300px;
   margin-bottom: 30px;
   border: 5px solid orange;
   background-color: gray;
}

#fundo-elementos-linear-gradient {
   background-image: linear-gradient(white, gray);
}

#fundo-elementos-radial-gradient {
   background-image: radial-gradient(white, gray);
}

#fundo-elementos-repeating-linear-gradient {
   background-image: repeating-linear-gradient(to top, gray 0 20px, white 20px 40px);
}

/* ##### ##### ##### ##### ##### ##### */
.imagem-background {
   width: 200px;
   height: 300px;
   margin-bottom: 30px;
   border: 5px solid orange;
}

#imagem-background_auto {
   background-image: url(../img/startrek.jpg);
   background-size: auto;
}

#imagem-background_cover {
   background-image: url(../img/startrek.jpg);
   background-size: cover;
}

#imagem-background_contain {
   background-image: url(../img/startrek.jpg);
   background-size: contain;
}

#imagem-background_passando-valor {
   background-image: url(../img/startrek.jpg);
   background-size: 100% 50%;
}

#imagem-background_camadas {
   background-image: url(../img/startreklogo.png), url(../img/startrek.jpg);
   background-size: 100%, 100% 50%;
}

/* ##### ##### ##### ##### ##### ##### */
.repeat-background {
   width: 200px;
   height: 300px;
   margin-bottom: 30px;
   border: 5px solid orange;
}

#repeat-background_repeat {
   background-image: url(../img/startreklogo.png);
   background-size: 33%;
}

#repeat-background_x {
   background-image: url(../img/startreklogo.png);
   background-size: 33%;
   background-repeat: repeat-x;
}

#repeat-background_y {
   background-image: url(../img/startreklogo.png);
   background-size: 33%;
   background-repeat: repeat-y;
}

#repeat-background_space {
   background-image: url(../img/startreklogo.png);
   background-size: 35%;
   background-repeat: space;
}

#repeat-background_round {
   background-image: url(../img/startreklogo.png);
   background-size: 35%;
   background-repeat: round;
}

#repeat-background_norepeat {
   background-image: url(../img/startreklogo.png);
   background-size: 35%;
   background-repeat: no-repeat;
}

/* ##### ##### ##### ##### ##### ##### */
.background-position {
   width: 200px;
   height: 300px;
   margin-bottom: 30px;
   border: 5px solid orange;
}

#background-position_top {
   background-image: url(../img/startrek.jpg);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: top;
}

#background-position_right {
   background-image: url(../img/startrek.jpg);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: right;
}

#background-position_botton {
   background-image: url(../img/startrek.jpg);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: bottom;
}

#background-position_left {
   background-image: url(../img/startrek.jpg);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: left;
}

#background-position_center {
   background-image: url(../img/startrek.jpg);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center;
}

#background-position_xy {
   background-image: url(../img/startrek.jpg);
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: bottom 0px right 0px;
}

#background-position_cover {
   background-image: url(../img/startrek.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

/* ##### ##### ##### ##### ##### ##### */
.background-attachment {
   width: 200px;
   height: 300px;
   margin-bottom: 30px;
   border: 5px solid orange;
   overflow: auto;
   color: white;
   background-image: url(../img/startrek.jpg);
   background-size: cover;
}

#background-attachment_fixed {
   background-attachment: fixed;
}

#background-attachment_scroll {
   background-attachment: scroll;
}

#background-attachment_local {
   background-attachment: local;
}
